<div class="modal-dialog" role="document">
    <div class="modal-dialog">
        <div class="text-center">
            <h2>Lista de Serviços disponiveis APIS </h2>
        </div>
        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    Cliente
                    <br />
                    url: http://www.sonicapi.somee.com/api/cliente
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Cliente
                </div>
                <div>
                    Resultado
                    [
   
                    {
                    "$id": "3",
                    "clienteId": 4,
                    "nomeCliente": "Rogerio Ferreira Batista",
                    "cpfCnpj": "89898990",
                    "imagemCliente": "/9j/4AAQSkZJRgABAQAAAQABAAD,
                    "ativo": true,
                    "clienteContatos": [],
                    "empresaClientes": [],
                    "produtoClienteSaida": []
                    }
                    ]
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    ClienteContato
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    ClienteContato
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    ClienteContato
                </div>
                <div>
                    Resultado
                    [
    
                    {
                    "$id": "3",
                    "clienteContatoId": 4,
                    "clienteId": 4,
                    "email": "rogerfbatista@gmail.com",
                    "telefone": "3232323232",
                    "ativo": true,
                    "cliente": null
                    }
                    ]
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    Empresa
                    <br />
                    url: http://www.sonicapi.somee.com/api/Empresa
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Empresa
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "empresaId": 1,
                    "nomeEmpresa": "Loja Teste",
                    "nomeFantasia": "Loja Cosmolop",
                    "contato": "Rogerio Batista",
                    "inscricaoEstadual": "834.290.453.517",
                    "cnpj": "735.507.550-07",
                    "endereco": "Rua Cavalo Marinho",
                    "numero": "1455",
                    "estado": "SP",
                    "cidade": "São Paulo",
                    "dataCadastro": "2015-11-16T20:17:50.17",
                    "empresaImagem": "iVBORw0KGgoAAAANSUhEUg,
                    "ativo": true,
                    "empresaContatos": [],
                    "empresaClientes": [],
                    "empresaFornecedores": [],
                    "menus": [],
                    "produtoClienteSaidas": [],
                    "produtoEstoques": [],
                    "produtoFornecedorEntradas": [],
                    "usuarios": []
                    }
                    ]
                </div>
            </div>
        </div>


        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    EmpresaCliente
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    EmpresaCliente
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    EmpresaCliente
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "empresaClienteId": 2,
                    "clienteId": 2,
                    "empresaId": 1,
                    "ativo": true,
                    "cliente": null,
                    "empresa": null
                    }
                    ]
                      
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    EmpresaContato
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    EmpresaContato
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    EmpresaContato
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "empresaContatoId": 1,
                    "empresaId": 1,
                    "email": "rogerfbatista@gmail.com",
                    "telefone": "391875545",
                    "ativo": true,
                    "empresa": null
                    }
    
    
                    ]
                      
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    EmpresaFornecedor
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    EmpresaFornecedor
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    EmpresaFornecedor
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "empresaFornecedorId": 4,
                    "fornecedorId": 5,
                    "empresaId": 1,
                    "ativo": true,
                    "empresa": null,
                    "fornecedor": null
                    }
                    ]
                         
                      
                </div>
            </div>
        </div>


        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    Fornecedor
                    <br />
                    url: http://www.sonicapi.somee.com/api/Fornecedor
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Fornecedor
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "fornecedorId": 5,
                    "nomeFornecedor": "Adidas S/A",
                    "contato": "rogerio",
                    "cnpj": "54859489",
                    "inscricaoEstadual": "392093023",
                    "endereco": "Rua adidas",
                    "numero": "90",
                    "estado": "sp",
                    "cidade": "são paulo",
                    "imagemCliente": "/9j/4AAQSkZJRgABAQAAAQABAAD,
                    "ativo": true,
                    "empresaFornecedores": [],
                    "fornecedorContatos": [],
                    "produtoFornecedorEntradas": []
                    }
    
                    ]
                         
                      
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    FornecedorContato
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    FornecedorContato
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    FornecedorContato
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "fornecedorContatoId": 9,
                    "fornecedorId": 5,
                    "email": "adidas@gmail.com",
                    "telefone": "3232323",
                    "ativo": true,
                    "fornecedor": null
                    },
                    {
                    "$id": "2",
                    "fornecedorContatoId": 10,
                    "fornecedorId": 5,
                    "email": "adidas@hotmail.com",
                    "telefone": "32434343",
                    "ativo": true,
                    "fornecedor": null
                    }
                    ]
                     
                      
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    MenuTipo
                    <br />
                    url: http://www.sonicapi.somee.com/api/MenuTipo
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    MenuTipo
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "menuTipoId": 1,
                    "nomeMenuTipo": "Menu",
                    "ativo": true,
                    "menu": []
                    },
                    {
                    "$id": "2",
                    "menuTipoId": 2,
                    "nomeMenuTipo": "SubMenu",
                    "ativo": true,
                    "menu": []
                    }
                    ]
                     
                      
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    Produto
                    <br />
                    url: http://www.sonicapi.somee.com/api/Produto
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Produto
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "produtoId": 5,
                    "produtoTipoId": 5,
                    "empresaId": 1,
                    "codigoReferencia": "43434343",
                    "nomeProduto": "Camisa Polo GG",
                    "dataCastro": "2015-12-03T22:19:50.28",
                    "imagemCliente": "/9j/4AAQSkZJRgABAQAAAQABAAD",
                    "ativo": true,
                    "produtoClienteSaidas": [],
                    "produtoEstoques": [],
                    "produtoFornecedorEntradas": [],
                    "produtoTipo": null
                    }
                    ]
                     
                      
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    ProdutoClienteSaida
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    ProdutoClienteSaida
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    ProdutoClienteSaida
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "produtoClienteSaidaId": 6,
                    "produtoId": 13,
                    "clienteId": 3,
                    "empresaId": 1,
                    "produtoFormasDePagamentoId": 4,
                    "quantidadeSaida": 2,
                    "valorVenda": 23,
                    "dataVenda": "2015-12-07T01:20:23.25",
                    "ativo": true,
                    "numeroPedido": 470046597,
                    "cliente": null,
                    "empresa": null,
                    "produto": null,
                    "produtoFormasDePagamento": null
                    },
                    {
                    "$id": "2",
                    "produtoClienteSaidaId": 7,
                    "produtoId": 5,
                    "clienteId": 4,
                    "empresaId": 1,
                    "produtoFormasDePagamentoId": 4,
                    "quantidadeSaida": 2,
                    "valorVenda": 10,
                    "dataVenda": "2015-12-07T01:22:59.56",
                    "ativo": true,
                    "numeroPedido": 2048365375,
                    "cliente": null,
                    "empresa": null,
                    "produto": null,
                    "produtoFormasDePagamento": null
                    }
                    ]    
                      
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    ProdutoEstoque
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    ProdutoEstoque
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    ProdutoEstoque
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "produtoEstoqueId": 1,
                    "empresaId": 1,
                    "produtoId": 7,
                    "quantidadeEstoque": 19,
                    "valorVenda": 3,
                    "ativo": true,
                    "empresa": null,
                    "produto": null
                    },
                    {
                    "$id": "2",
                    "produtoEstoqueId": 2,
                    "empresaId": 1,
                    "produtoId": 5,
                    "quantidadeEstoque": 17,
                    "valorVenda": 10,
                    "ativo": true,
                    "empresa": null,
                    "produto": null
                    },
                    {
                    "$id": "3",
                    "produtoEstoqueId": 3,
                    "empresaId": 1,
                    "produtoId": 6,
                    "quantidadeEstoque": 15,
                    "valorVenda": 4,
                    "ativo": true,
                    "empresa": null,
                    "produto": null
                    },
                    {
                    "$id": "4",
                    "produtoEstoqueId": 7,
                    "empresaId": 1,
                    "produtoId": 13,
                    "quantidadeEstoque": -4,
                    "valorVenda": 23,
                    "ativo": true,
                    "empresa": null,
                    "produto": null
                    }
                    ]
                      
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    ProdutoFormasDePagamento
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    ProdutoFormasDePagamento
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    ProdutoFormasDePagamento
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "produtoFormasDePagamentoId": 1,
                    "nomeFormaPagamento": "Boleto",
                    "ativo": true,
                    "produtoClienteSaidas": []
                    },
                    {
                    "$id": "2",
                    "produtoFormasDePagamentoId": 2,
                    "nomeFormaPagamento": "Cartão de Credito",
                    "ativo": true,
                    "produtoClienteSaidas": []
                    },
                    {
                    "$id": "3",
                    "produtoFormasDePagamentoId": 3,
                    "nomeFormaPagamento": "Debito Automatico",
                    "ativo": true,
                    "produtoClienteSaidas": []
                    },
                    {
                    "$id": "4",
                    "produtoFormasDePagamentoId": 4,
                    "nomeFormaPagamento": "Dinheiro",
                    "ativo": true,
                    "produtoClienteSaidas": []
                    }
                    ]               
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    ProdutoFornecedorEntrada
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    ProdutoFornecedorEntrada

                </div>
            </div>
            <div class="col-md-6">
                <div>
                    ProdutoFornecedorEntrada
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "nomeFornecedor": "Nike S/A",
                    "notafiscal": "43",
                    "total": 416,
                    "dataEmissao": "2015-12-17T02:00:00",
                    "dataVencimento": "2016-01-01T02:00:00",
                    "fornecedorId": 6
                    }
                    ]
     
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    ProdutoFornecedorEntrada
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    ProdutoFornecedorEntrada
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    ProdutoFornecedorEntrada
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "nomeFornecedor": "Nike S/A",
                    "notafiscal": "43",
                    "total": 416,
                    "dataEmissao": "2015-12-17T02:00:00",
                    "dataVencimento": "2016-01-01T02:00:00",
                    "fornecedorId": 6
                    }
                    ]
     
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    ProdutoTipo
                    <br />
                    url: http://www.sonicapi.somee.com/api/ProdutoTipo
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    ProdutoTipo
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "produtoTipoId": 5,
                    "nomeProdutoTipo": "roupas",
                    "ativo": true,
                    "produtos": []
                    },
                    {
                    "$id": "2",
                    "produtoTipoId": 6,
                    "nomeProdutoTipo": "calçados",
                    "ativo": true,
                    "produtos": []
                    },
                    {
                    "$id": "3",
                    "produtoTipoId": 7,
                    "nomeProdutoTipo": "acessórios",
                    "ativo": true,
                    "produtos": []
                    }
                    ]
     
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    Usuario
                    <br />
                    url: http://www.sonicapi.somee.com/api/Usuario

                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Usuario
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "usuarioId": 3,
                    "usuarioPerfilId": 1,
                    "empresaId": 1,
                    "nomeUsuario": "Rogerio Ferreira Batista",
                    "email": "rogerdewedfbatista@gmail.com",
                    "senha": "q02zZ+qdDrMrereddEEE=",
                    "dataCadastro": "2015-11-28T12:00:53.533",
                    "imagemUsuario": "iVBORw0KGgoAAAANSUhEUgAA",
                    "ativo": true,
                    "empresa": null,
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "2",
                    "usuarioId": 14,
                    "usuarioPerfilId": 2,
                    "empresaId": 1,
                    "nomeUsuario": "enzo",
                    "email": "sonic_msn@hotmail.com",
                    "senha": "ZMR2l=",
                    "dataCadastro": "2015-11-30T04:57:10.24",
                    "imagemUsuario": "/9j/4AAQSkZJRgABAQAAAQABAAD",
                    "ativo": true,
                    "empresa": null,
                    "usuarioPerfil": null
                    }
                    ]
     
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    UsuarioPerfil
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    UsuarioPerfil

                </div>
            </div>
            <div class="col-md-6">
                <div>
                    UsuarioPerfil
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "usuarioPerfilId": 1,
                    "nomeUsuarioPerfil": "AdministradorSistema",
                    "imagemUsuarioPerfil": "/9j/4AAQSkZJRgABAQAAAQABAAD",
                    "ativo": true,
                    "usuarios": [],
                    "servicoUsuarioPerfil": []
                    },
                    {
                    "$id": "2",
                    "usuarioPerfilId": 2,
                    "nomeUsuarioPerfil": "Financeiro",
                    "imagemUsuarioPerfil": "/9j/4AAQSkZJRgABAQAAAQABAAD",
                    "ativo": true,
                    "usuarios": [],
                    "servicoUsuarioPerfil": []
                    }
                    ]
     
                </div>
            </div>
        </div>

        <div class="row modal-body">
            <div class="col-md-6">
                <div>
                    UsuarioPerfilMenu
                    <br />
                    url: http://www.sonicapi.somee.com/api/
                    <br/>
                    UsuarioPerfilMenu

                </div>
            </div>
            <div class="col-md-6">
                <div>
                    UsuarioPerfilMenu
                </div>
                <div>
                    Resultado
                    [
                    {
                    "$id": "1",
                    "usuarioPerfilMenuId": 2,
                    "menuId": 2,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$id": "2",
                    "menuId": 2,
                    "menuTipoId": 1,
                    "menuIdFk": null,
                    "empresaId": 1,
                    "nomeMenu": "Home",
                    "link": "#!/home",
                    "ordem": 1,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [
                    {
                    "$id": "3",
                    "menuId": 3,
                    "menuTipoId": 2,
                    "menuIdFk": 2,
                    "empresaId": 1,
                    "nomeMenu": "Sobre",
                    "link": "#!/Sobre",
                    "ordem": 3,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    }
                    ],
                    "menuTipo": null
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "4",
                    "usuarioPerfilMenuId": 18,
                    "menuId": 16,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$id": "5",
                    "menuId": 16,
                    "menuTipoId": 1,
                    "menuIdFk": null,
                    "empresaId": 1,
                    "nomeMenu": "Vendas",
                    "link": null,
                    "ordem": 2,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [
                    {
                    "$id": "6",
                    "menuId": 17,
                    "menuTipoId": 2,
                    "menuIdFk": 16,
                    "empresaId": 1,
                    "nomeMenu": "Cliente x Produto",
                    "link": "#!/produtoclientesaida/new",
                    "ordem": 3,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    },
                    {
                    "$id": "7",
                    "menuId": 18,
                    "menuTipoId": 2,
                    "menuIdFk": 16,
                    "empresaId": 1,
                    "nomeMenu": "Lista de Pedidos",
                    "link": "#!/produtoclientesaida",
                    "ordem": 4,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    }
                    ],
                    "menuTipo": null
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "8",
                    "usuarioPerfilMenuId": 3,
                    "menuId": 3,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "3"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "9",
                    "usuarioPerfilMenuId": 19,
                    "menuId": 17,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "6"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "10",
                    "usuarioPerfilMenuId": 1,
                    "menuId": 1,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$id": "11",
                    "menuId": 1,
                    "menuTipoId": 1,
                    "menuIdFk": null,
                    "empresaId": 1,
                    "nomeMenu": "Empresa",
                    "link": "#!/empresa",
                    "ordem": 4,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "12",
                    "usuarioPerfilMenuId": 20,
                    "menuId": 18,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "7"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "13",
                    "usuarioPerfilMenuId": 4,
                    "menuId": 4,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$id": "14",
                    "menuId": 4,
                    "menuTipoId": 1,
                    "menuIdFk": null,
                    "empresaId": 1,
                    "nomeMenu": "Usuario",
                    "link": "",
                    "ordem": 5,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [
                    {
                    "$id": "15",
                    "menuId": 5,
                    "menuTipoId": 2,
                    "menuIdFk": 4,
                    "empresaId": 1,
                    "nomeMenu": "Lista de Perfil",
                    "link": "#!/usuarioperfil",
                    "ordem": 6,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    },
                    {
                    "$id": "16",
                    "menuId": 6,
                    "menuTipoId": 2,
                    "menuIdFk": 4,
                    "empresaId": 1,
                    "nomeMenu": "Lista de Usuario",
                    "link": "#!/usuario",
                    "ordem": 7,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    }
                    ],
                    "menuTipo": null
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "17",
                    "usuarioPerfilMenuId": 5,
                    "menuId": 5,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "15"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "18",
                    "usuarioPerfilMenuId": 6,
                    "menuId": 6,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "16"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "19",
                    "usuarioPerfilMenuId": 7,
                    "menuId": 7,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$id": "20",
                    "menuId": 7,
                    "menuTipoId": 1,
                    "menuIdFk": null,
                    "empresaId": 1,
                    "nomeMenu": "Fornecedor",
                    "link": "",
                    "ordem": 8,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [
                    {
                    "$id": "21",
                    "menuId": 8,
                    "menuTipoId": 2,
                    "menuIdFk": 7,
                    "empresaId": 1,
                    "nomeMenu": "Lista de Fornecedores",
                    "link": "#!/fornecedor",
                    "ordem": 9,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    },
                    {
                    "$id": "22",
                    "menuId": 14,
                    "menuTipoId": 2,
                    "menuIdFk": 7,
                    "empresaId": 1,
                    "nomeMenu": "Fornecedor x Produto",
                    "link": "#!/produtofornecedorentrada/new",
                    "ordem": 15,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    },
                    {
                    "$id": "23",
                    "menuId": 15,
                    "menuTipoId": 2,
                    "menuIdFk": 7,
                    "empresaId": 1,
                    "nomeMenu": "Lista Entrada Produto",
                    "link": "#!/produtofornecedorentrada",
                    "ordem": 16,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    }
                    ],
                    "menuTipo": null
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "24",
                    "usuarioPerfilMenuId": 8,
                    "menuId": 8,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "21"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "25",
                    "usuarioPerfilMenuId": 10,
                    "menuId": 9,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$id": "26",
                    "menuId": 9,
                    "menuTipoId": 1,
                    "menuIdFk": null,
                    "empresaId": 1,
                    "nomeMenu": "Cliente",
                    "link": null,
                    "ordem": 10,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [
                    {
                    "$id": "27",
                    "menuId": 10,
                    "menuTipoId": 2,
                    "menuIdFk": 9,
                    "empresaId": 1,
                    "nomeMenu": "Lista de Clientes",
                    "link": "#!/cliente",
                    "ordem": 11,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    }
                    ],
                    "menuTipo": null
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "28",
                    "usuarioPerfilMenuId": 11,
                    "menuId": 10,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "27"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "29",
                    "usuarioPerfilMenuId": 12,
                    "menuId": 11,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$id": "30",
                    "menuId": 11,
                    "menuTipoId": 1,
                    "menuIdFk": null,
                    "empresaId": 1,
                    "nomeMenu": "Produto",
                    "link": null,
                    "ordem": 12,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [
                    {
                    "$id": "31",
                    "menuId": 12,
                    "menuTipoId": 2,
                    "menuIdFk": 11,
                    "empresaId": 1,
                    "nomeMenu": "Lista Tipo de Produto",
                    "link": "#!/produtotipo",
                    "ordem": 13,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    },
                    {
                    "$id": "32",
                    "menuId": 13,
                    "menuTipoId": 2,
                    "menuIdFk": 11,
                    "empresaId": 1,
                    "nomeMenu": "Lista de Produtos",
                    "link": "#!/produto",
                    "ordem": 14,
                    "imagemMenu": null,
                    "ativo": true,
                    "empresa": null,
                    "menuCollection": [],
                    "menuTipo": null
                    }
                    ],
                    "menuTipo": null
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "33",
                    "usuarioPerfilMenuId": 13,
                    "menuId": 12,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "31"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "34",
                    "usuarioPerfilMenuId": 14,
                    "menuId": 13,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "32"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "35",
                    "usuarioPerfilMenuId": 15,
                    "menuId": 14,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "22"
                    },
                    "usuarioPerfil": null
                    },
                    {
                    "$id": "36",
                    "usuarioPerfilMenuId": 16,
                    "menuId": 15,
                    "usuarioPerfilId": 1,
                    "ativo": true,
                    "menu": {
                    "$ref": "23"
                    },
                    "usuarioPerfil": null
                    }
                    ]
     
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
    <button class="btn btn-warning" data-ng-click="cancel()">Fechar</button>
</div>
</div>
